extends layout/default

block content

    include mods/head

    div(class='main')
        div(class='container')
            div(class='hero-unit')
                h1 MUD-QUIZ
                p 美团移动前端试题库
                p
                    a(class='btn btn-primary btn-large', href='/subject') 创建试题

    include mods/foot