extends layout/default

block content

    include mods/head

    div(class='main')
        div(class='container')
            div(class='hero-unit')
                h1 MUD-QUIZ
                p 美团移动前端试题库
                div(class='btn-toolbar')
                    div(class='btn-group')
                        a(class='btn btn-primary btn-large', href='/subject') 新建试题
                    div(class='btn-group')
                        a(class='btn btn-large', href='/subjects') 试题库

    include mods/foot