extends layout/default

block content

    include mods/head
    link(rel="stylesheet", href="/syntaxhighlighter/styles/shCore.css")
    link(rel="stylesheet", href="/syntaxhighlighter/styles/shThemeDefault.css")
    // main {{

    div(class="main")
        div(class="container")
            each item in data
                div(class="row")
                    div(class="s-title")= item['q-question']
                    div(class="s-code")
                        pre(class="brush: js")= item['q-code']

    // main }}

    include mods/foot
    script(src="/syntaxhighlighter/scripts/shCore.js")
    script(src="/syntaxhighlighter/scripts/shAutoloader.js")
    script
        SyntaxHighlighter.autoloader('js jscript javascript  /syntaxhighlighter/scripts/shBrushJScript.js', 'html xml /syntaxhighlighter/scripts/shBrushXml.js');
        SyntaxHighlighter.all();