extends layout/default

block content

    include mods/head

    // main {{

    div(class='main')
        div(class='container')
            div(class='row')
                div(class='page-header')
                    h1 新建试题
                        small （避免创建重复类似试题，建议先搜索）
                form(class='form-horizontal', action='/subject/new', method='post')
                    div(class='control-group')
                        label(class='control-label', for='J_Q_title') 问题：
                        div(class='controls')
                            textarea(id='J_Q_title', rows=3, class='span8', placeholder='题干（必须）', name='q-question', required)
                    div(class='control-group')
                        label(class='control-label', for='J_Q_code') 代码：
                        div(class='controls')
                            button(class='btn btn-link collapse-trigger', type='button', data-target='#J_Q_code_con') 添加代码
                            div(class='collapse', id='J_Q_code_con')
                                textarea(id='J_Q_code', rows=8, class='span8', placeholder='代码（可选）', name='q-code')
                    div(class='control-group')
                        label(class='control-label') 标签：
                        div(class='controls')
                            label(class='checkbox inline')
                                input(type='checkbox', value='javascript', name='q-tag[]')
                                | javascript
                            label(class='checkbox inline')
                                input(type='checkbox', value='html', name='q-tag[]')
                                | html
                            label(class='checkbox inline')
                                input(type='checkbox', value='css', name='q-tag[]')
                                | css
                            label(class='checkbox inline')
                                input(type='checkbox', value='java', name='q-tag[]')
                                | java
                            label(class='checkbox inline')
                                | 其他：
                                input(type='text', name='q-tag[]')
                    div(class='control-group')
                        label(class='control-label', for='J_A_title') 答案：
                        div(class='controls')
                            textarea(id='J_A_title', rows=3, class='span8', placeholder='答案（必须）', name='a-answer', required)
                    div(class='control-group')
                        label(class='control-label', for='J_A_code') 代码：
                        div(class='controls')
                            button(class='btn btn-link collapse-trigger', type='button', data-target='#J_A_code_con') 添加代码
                            div(class='collapse', id='J_A_code_con')
                                textarea(id='J_A_code', rows=8, class='span8', placeholder='代码（可选）', name='a-code')
                    div(class='form-actions')
                        button(type='submit', class='btn btn-primary') 创建

    // main }}

    include mods/foot
    script
        $('.collapse-trigger').on('click', function(e) {
            var id = $(this).attr('data-target');
            $(id).collapse('toggle');
        });