// foot {{

div(class="foot")
    div(class="container-fluid")
        p(class="text-center") &copy;2013 mobile.fe@meituan.com

// foot }}

script(src="/jquery/jquery-1.10.2.min.js")
script(src="/bootstrap/js/bootstrap.min.js")