// head {{

div(class='navbar navbar-fixed-top')
    div(class='navbar-inner')
        div(class='container-fluid')
            a(class='brand', href='/') MUD-QUIZ
            ul(class='nav')
                li
                    a(href='/subject') 新建试题
                li
                    a(href='/subjects') 试题库

// head }}