// head {{

div(class='navbar navbar-fixed-top')
    div(class='navbar-inner')
        div(class='container-fluid')
            a(class='brand', href='/') MUD-QUIZ
            ul(class='nav')
                li
                    a(href='/subject') 新建试题
                li
                    a(href='/subjects') 试题库
                li
                    a(href='/search') 搜索
            // form(class='form-search')
                div(class='input-append pull-right', style='margin-top: 5px;')
                    input(type='text', class='search-query span3')
                    button(type='submit', class='btn') 搜索


// head }}